
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  .background {
    padding: 0.5rem;
  }
}
